<style>
  body
  {
    background-image: url('https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=1380&t=st=1693887025~exp=1693887625~hmac=e883c129dd3f25a040ce393161769ec461fb42eb82a5da68aa3b9ca37e9d6b29');
    //background-repeat: no-repeat;
  }

  h1{
    color:aliceblue;
    background:green; 
    font-size: x-large;
    text-align: center;
  }
  h2{
    background:green; 
    color: white;
    font-size: x-large;
    text-align: center;
  }
  img
  {
    margin-left: 700px;

  }
  p{
    font-size: x-smalls;
    line-height:30px; ;  
  }
  marquee
  {
    background-color:antiquewhite; 
    font-size: x-large;
  }
  .fl1{
    height="150px" 
    width="150px" 
    margin-left:100px

  }
  </style>
  <h1>ARTOS</h1>
<img src="https://static.wixstatic.com/media/6b4b71_cc7c8a212c1140cebd87b124b202a74a~mv2.png" height="250px" width="400px">
<h2>About Artos Company</h2>
<p >
  ARTOS is founded by Adduri Ramachandra Raju and Adduri Jagannadha Raju in the year 1919.
  A regional Soft drink manufacturer headquartered in Ramachandrapuram, East Godavari, Andhra Pradesh, India.<br><br> 
  At first, Ramachandra Raju bought a soda machine from British collectorate but he did not know how to use it. Later, he came to Visakhapatnam with the machine and meet a person in Port and he helped the machine with new parts and also told how to use it and he returned to Ramachandrapuram and started marketing it as a soda drink in 1912. At first, local people scared to drink due to gaseous content or some myths but after observing British soldiers consuming it they started. In 1919, it was officially made as a drink and the required sugars, gas and flavours are imported from Europe. But during the 2nd World War, the imports had stopped and many industries in India halted. But Artos continued its production from the flavour taken from fruits. Many international companies offers franchises but Artos never stopped. In 2019, it has completed 100 years and Artos was growing furthermore in Andhra Pradesh.
<br><br>These are the flavours available :
</p>
<img src="https://static.wixstatic.com/media/6b4b71_19468c7aefd146fcab2ae2b5630c0701~mv2_d_3000_2262_s_2.jpg/v1/fill/w_684,h_452,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/6b4b71_19468c7aefd146fcab2ae2b5630c0701~mv2_d_3000_2262_s_2.jpg">
<marquee>Available Flavours Grape, Lemon, Orange, Gingeera, Lemon Salt Soda, Zibb Gluco and soda flavours</marquee>
<div class="fl1">
<img src="fl1.jpg"><br><br>
<img src="fl2.jpg">
</div>
<p>Sample this. When multinational brands hiked the price of their 300 ml brands from Rs 7 to Rs 9.50 in 1999, the local brand's sales shot up by 200 per cent in 1999-2000, thanks to its known quality and an affordable price of Rs 5 per 300 ml bottle.</p>
<p>Artos Breweries Limited is an unlisted public company incorporated on 24 October, 1969. It is classified as a public limited company and is located in Eastgodavari District, Andhra Pradesh. It's authorized share capital is INR 25.50 lac and the total paid-up capital is INR 25.50 lac.

  The current status of Artos Breweries Limited is - Active.
  
  Details of the last annual general meeting of Artos Breweries Limited are not available. The company is yet to submit its first full-year financial statements to the registrar.
  
  The Corporate Identification Number (CIN) of Artos Breweries Limited is U15511AP1969PLC001296. The registered office of Artos Breweries Limited is at RAMACHANDRAPURAM,, , EASTGODAVARI DISTRICT, Andhra Pradesh.</p>